.quote ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.quote ul li{
	@include fontsize(2.1, 3);
	@extend %GTHaptikRegular;
	@include kerning(50);
	// text-transform: uppercase;
	color: $black;
	padding-bottom: $fs*0.2;
	padding-bottom: $fs*0.5;
	@include transition(color .4s ease-in-out);
	&:hover{
		color: $grey;
	}
}

.quote h2{
	@extend %GTHaptikRegular;
	@include fontsize(2.3, 3);
	padding-bottom: $fs*2;
}


.underline {
  position: relative;
  
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;

    &:after {
      width: 0%;
    }
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 2px;
    height: 2px;
    background-color: #000;
    width: 100%;
    transition: width .4s;
  }
}