#main-footer {
  color: #000;
  font-size: 0;
  margin: 0 auto 0 auto;
  width: 100%;
  padding-top: 100px;
  clear: both;
// border-top: 3px solid #000;
}

.wrap {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

#main-footer #footer-menu{
  padding: 0;
  width: 100%;
}

#main-footer #footer-menu a,
#main-footer #footer-menu .divider {
  position: relative;
  color: $grey;
  @include fontsize(1.5, 2.5);
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  width: 16.666%;
  padding-bottom: 12px;
  @include transition(color .3s ease);
  text-align: center;
  margin-bottom: 24px;
  &:hover{
    color: $black;
  }
}

#main-footer #footer-menu a:nth-of-type(1), 
#main-footer #footer-menu a:nth-of-type(2), 
#main-footer #footer-menu a:nth-of-type(3) {
  width: 33.3333%;
}

#main-footer #footer-menu .divider {
  margin-right: 16.6665%;
}

#main-footer #footer-menu a:nth-of-type(4) {
  margin-left: 16.6665%;
}

#main-footer #footer-menu a:nth-of-type(4), #main-footer #footer-menu .divider {
  width: 33.3333%;
}



.box {
  margin: auto;
  width:150px;
}
input[type="email"] {
  @extend %GTHaptikMedium-simple;
  color: $grey;
  appearance: none;
  width:150px;
  height:$fs*3;
  @include fontsize(1.5);
  background:transparent;
  border:none;
  border-bottom:solid 2px $grey;
;
  text-align:center;
  transition: border-color 0.6s ease;
}

::-webkit-input-placeholder {
   color: $grey;
   transition: color 0.3s ease;
}

:focus::-webkit-input-placeholder {
   color: transparent;
   transition: color 0.3s ease;
}


input[type="email"]:focus {
  outline:none;
  color: $black;
  // margin: 0 auto;
  width: 250px;
  border:none;
  border-bottom:solid 2px $black;
  transition: border-color 1s ease;
}

input[type="submit"] {
  @extend %GTHaptikMedium-simple;
  @include fontsize(1.5);
  appearance: none;
  width:150px;
  height:$fs*3;
  background:transparent;
  color: $grey;
  border:none;
  text-align:center;
  transition: color 0.5s ease;
  outline:none;
  border:none;
}

input[type="submit"]:hover {
  color: $black;
  cursor:pointer;
  transition: color 0.5s ease;
}