.block{
	position: relative;
	display: block;
	width: 100%;
	padding: $fs*10 0;
}

.block:before{
	content: " ";
	position: absolute;
	left: 0;
	top: -45px;
	width: 100%;
	background: #fff;
	height: 100px;
	transform: skew(0deg,-3.2deg);
	-webkit-transform: skew(0deg,-3.2deg);
	-moz-transform: skew(0deg,-3.2deg);
	-o-transform: skew(0deg,-3.2deg);
	-ms-transform: skew(0deg,-3.2deg);
	z-index: 1;
}