#shop{
	margin: 0 auto;
	margin-top: $fs*11*2;
	max-width: 1300px;
}

.bloc{
	float: left;
	margin: 5px;
}
.bloc .info{
	display: none;
}

.bloc.unfold{
	height: $fs*67.5;
	width: $fs*47;
}

.bloc.unfold .info{
	display: block;
}

.bloc.unfold .info img{
	z-index: 40;
}

.bloc.unfold .thumb{
	display: none;
}
