
// GLOBAL SETTINGS 
// ------------------------------

.brand,
.foundation{
	display: block;
  display: inline-block;
  text-align: center;
  .headings.medium{
    margin: 15px 0 12px 0;
    margin: $fs*1.5 0 $fs*1.2 0;
  }
  &:hover{
    .headings.medium{
      color: $brand-color-primary;
      &:after {
        width: 100%;
      }
    }
  }


  svg{
    width: 100%;
    margin: 0 0 40px 0;
    margin: 0 0 $fs*4 0;
    @include respond-to(large-screens){
      margin: 0;
      margin: 0;
    }
    @include respond-to(nav-breakpoint){
      padding: 0px 50px 0 50px;
      padding: 0 $fs*5 0 $fs*5;
    }
  }
}

.brand{
  @include gs-span(L, 1, 1);
  @include respond-to(medium-screens){
    @include gs-span(m, all);
    padding: 50px 0 40px 0;
    padding: $fs*5 0 $fs*4 0;

    position: relative!important;
    -webkit-transform: none; /* Safari and Chrome */
       -moz-transform: none; /* Firefox */
        -ms-transform: none; /* IE 9 */
         -o-transform: none; /* Opera */
            transform: none;
  }
  @include centered(45%,0,0,-50%);
}

.foundation{
  @include gs-span(L, 2, 2);
  position: relative!important;
  @include respond-to(medium-screens){
    @include gs-span(m, all);
    -webkit-transform: none; /* Safari and Chrome */
       -moz-transform: none; /* Firefox */
        -ms-transform: none; /* IE 9 */
         -o-transform: none; /* Opera */
            transform: none;
    clear: both;
  }
  @include respond-to(small-screens){
    margin-bottom: 40px;
    margin-bottom: $fs*4;
  }
  @include centered(45%,0,0,-50%);
}

.container {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin: 0 auto;
	// margin-top: 110px;
  opacity: 1;
  @include centered(45%,50%,-50%,-50%);
  @include respond-to(nav-breakpoint){
    position: relative;
    top: 0;
    left: 0;
    margin-top: 75px;
    -webkit-transform: none; /* Safari and Chrome */
       -moz-transform: none; /* Firefox */
        -ms-transform: none; /* IE 9 */
         -o-transform: none; /* Opera */
            transform: none;
  }
}

.push{
  
  position: relative;
	@include transition(all 1s ease-in-out);
  @include scale(.9);
		opacity: 0;
  @include respond-to(nav-breakpoint){
    -webkit-transform: none; /* Safari and Chrome */
       -moz-transform: none; /* Firefox */
        -ms-transform: none; /* IE 9 */
         -o-transform: none; /* Opera */
            transform: none;
  }
}


// JQUERY ADDON 
// ------------------------------
// .on{

// 	@include transition(all 1s ease-in-out);
//   @include scale(1);
// 			opacity: 0;
//   @include respond-to(nav-breakpoint){
//     -webkit-transform: none; /* Safari and Chrome */
//        -moz-transform: none; /* Firefox */
//         -ms-transform: none; /* IE 9 */
//          -o-transform: none; /* Opera */
//             transform: none;
//   }
// }

// .on--opacity{
//   opacity: 1;
// }

// .none{
//   display: none; 
// }
// .generic_footer{
//   clear: both; 
// }

.container{
  svg{
    @include transition(all .6s ease-in-out);
    width: 42%;
        margin: 0 auto;
        display: block;
    @include respond-to(large-screens){
      width: 35%;
    }
    @include respond-to(nav-breakpoint){
      width: 90%;
    }
  }

}


// .off--opacity{
//   opacity: 0;
//   @include transition(all .6s ease-in-out);
// }

// RECTANGLES ANIMATION 
// ------------------------------

.rect rect {
  // In the example below 1s = duration, 2s = delay, 3 = iterations.
  -webkit-animation: pulse 2.5s 0s 1 alternate none running;
     -moz-animation: pulse 2.5s 0s 1 alternate none running;
      -ms-animation: pulse 2.5s 0s 1 alternate none running;
          animation: pulse 2.5s 0s 1 alternate none running;
}

.rect2 rect {
  -webkit-animation: pulse 2s 0.5s 1 alternate none running;
     -moz-animation: pulse 2s 0.5s 1 alternate none running;
      -ms-animation: pulse 2s 0.5s 1 alternate none running;
          animation: pulse 2s 0.5s 1 alternate none running;
}

.rect3 rect {
  -webkit-animation: pulse 1.5s 1s 1 alternate none running;
     -moz-animation: pulse 1.5s 1s 1 alternate none running;
      -ms-animation: pulse 1.5s 1s 1 alternate none running;
          animation: pulse 1.5s 1s 1 alternate none running;
}

.rect4 rect {
  -webkit-animation: pulse 1s 1.5s 1 alternate none running;
     -moz-animation: pulse 1s 1.5s 1 alternate none running;
      -ms-animation: pulse 1s 1.5s 1 alternate none running;
          animation: pulse 1s 1.5s 1 alternate none running;
}

.rect5 rect {
  -webkit-animation: pulse 0.5s 2s 1 alternate none running;
     -moz-animation: pulse 0.5s 2s 1 alternate none running;
      -ms-animation: pulse 0.5s 2s 1 alternate none running;
          animation: pulse 0.5s 2s 1 alternate none running;
}


// OTHER SETTINGS 

.remove{
  -webkit-animation: remove 0.5s ease-out 2.5s 1 alternate none running;
     -moz-animation: remove 0.5s ease-out 2.5s 1 alternate none running;
      -ms-animation: remove 0.5s ease-out 2.5s 1 alternate none running;
          animation: remove 0.5s ease-out 2.5s 1 alternate none running;
}


.appear{
  -webkit-animation: appear 0.5s ease-out 2.5s 1 alternate forwards running;
     -moz-animation: appear 0.5s ease-out 2.5s 1 alternate forwards running;
      -ms-animation: appear 0.5s ease-out 2.5s 1 alternate forwards running;
          animation: appear 0.5s ease-out 2.5s 1 alternate forwards running;
}


// KEYFRAMES 
// ---------------------------

// PULSE 
//----------------------------
@-webkit-keyframes pulse {
  0% {
    stroke: #ffffff;
  }
  100% {
    stroke: #004B27;
  }
}

@-moz-keyframes pulse {
  0% {
    stroke: #ffffff;
  }
  100% {
    stroke: #004B27;
  }
}

@-ms-keyframes pulse {
  0% {
    stroke: #ffffff;
  }
  100% {
    stroke: #004B27;
  }
}

@keyframes pulse {
  0% {
    stroke: #ffffff;
  }
  100% {
    stroke: #004B27;
  }
}


// REMOVE
//----------------------------

@-webkit-keyframes remove {
  0% {
    stroke: #004B27;
  }
  100% {
    stroke: #ffffff;
  }
}

@-moz-keyframes remove {
  0% {
    stroke: #004B27;
  }
  100% {
    stroke: #ffffff;
  }
}
@-ms-keyframes remove {
  0% {
    stroke: #004B27;
  }
  100% {
    stroke: #ffffff;
  }
}
@keyframes remove {
  0% {
    stroke: #004B27;
  }
  100% {
    stroke: #ffffff;
  }
}

// APPEAR
//----------------------------

@-webkit-keyframes appear {
  0% {
    fill: none;
  }
  100% {
    fill: #004B27!important;
  }
}

@-moz-keyframes appear {
  0% {
    -moz-fill: none;
    fill: none;
  }
  100% {
    -moz-fill: #004B27!important;
    fill: #004B27!important;
  }
}

@-ms-keyframes appear {
  0% {
    fill: none;
  }
  100% {
    fill: #004B27!important;
  }
}

@keyframes appear {
  0% {
    fill: none;
  }
  100% {
    fill: #004B27!important;
  }
}