@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

button, input {
  line-height: normal; }

button, input, select, textarea {
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

ul {
  word-spacing: -0.26em;
  word-spacing: 0em; }

li {
  word-spacing: 0; }

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* * Clearfix: contain floats * * For modern browsers * 1. The space content is one way to avoid an Opera bug when the * contenteditable attribute is included anywhere else in the document. * Otherwise it causes space to appear at the top and bottom of elements * that receive the clearfix class. * 2. The use of table rather than block is only necessary if using * :before to contain the top-margins of child elements. */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {
  *zoom: 1; }

/*
 * Greys (dark to light) */
/*
 * Main brand colors */
/*
 * UI colors */
.white {
  color: #ffffff !important; }

.black {
  color: #ffffff !important; }

.valign-helper {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 62.5%; }
  @media screen and (max-width: 767px) {
    html {
      -webkit-text-size-adjust: 100%; } }

body {
  background-color: #ffffff; }
  body.prevent-scroll {
    position: relative; }
    body.prevent-scroll:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 7000; }

h1, h2, p, a, li a, span, q, blockquote, button, input {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased; }

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative; }

.wrapper.full-width {
  max-width: 90%;
  max-width: 1900px; }

.content {
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  margin-top: 65px;
  position: relative; }

.content.with-sub-nav {
  margin-top: 122px; }
  @media only screen and (max-width: 1100px) {
    .content.with-sub-nav {
      margin-top: 140px; } }

.content.home {
  background-color: #f3f3f3; }

::-webkit-input-placeholder {
  color: #dbdad7; }

p {
  font-size: 20px;
  line-height: 20px;
  font-size: 2rem;
  line-height: 2rem;
  color: #121212;
  text-align: center; }

.dissmiss {
  font: 0/0 a;
  color: transparent; }

/* ::Import styles */
/* ------------------------------------------------------------ */
body {
  font-family: "CircularPro-Book", helvetica, arial, sans-serif; }

.midnightHeader.default, .midnightHeader.white {
  font-family: "DomaineDisp-Regular", helvetica, arial, sans-serif; }

@font-face {
  font-family: "CircularPro-Book";
  src: url("../fonts/CircularPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularPro-Book.ttf") format("truetype"), url("../fonts/CircularPro-Book.woff") format("woff"), url("../fonts/CircularPro-Book.svg#CircularPro-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DomaineDisp-Regular";
  src: url("../fonts/DomaineDisp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DomaineDisp-Regular.ttf") format("truetype"), url("../fonts/DomaineDisp-Regular.woff") format("woff"), url("../fonts/DomaineDisp-Regular.svg#DomaineDisp-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.headings.x-small {
  font-size: 27px;
  line-height: 30px;
  font-size: 2.7rem;
  line-height: 3rem; }

.headings.small {
  font-size: 29px;
  line-height: 34px;
  font-size: 2.9rem;
  line-height: 3.4rem; }

.headings.medium {
  font-size: 30px;
  line-height: 30px;
  font-size: 3rem;
  line-height: 3rem; }

.headings.x-big {
  font-size: 38px;
  line-height: 35px;
  font-size: 3.8rem;
  line-height: 3.5rem; }

.headings.big {
  font-size: 50px;
  line-height: 50px;
  font-size: 5rem;
  line-height: 5rem; }

.headline {
  width: 100%;
  position: relative;
  margin: 30px 0 0 0;
  margin: 3rem 0 0 0;
  padding: 20px 0 40px 0;
  padding: 2rem 0 4rem 0; }
  @media only screen and (max-width: 1024px) {
    .headline div:first-of-type {
      display: none; }
    .headline div:before {
      display: none; } }
  .headline:before {
    content: "";
    height: 2px;
    width: 100%;
    background: #121212;
    display: block;
    position: absolute;
    top: 61px;
    top: 6.1rem;
    z-index: -1; }
    @media only screen and (max-width: 1024px) {
      .headline:before {
        display: none; } }
  .headline:after {
    content: "";
    height: 2px;
    width: 100%;
    background: #121212;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1; }
  .headline h3 {
    padding: 3rem 0 3rem 0;
    padding: 30px 0 30px 0; }

.headings.x-small {
  color: #121212;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em; }
  @media only screen and (max-width: 1024px) {
    .headings.x-small {
      font-size: 25px;
      line-height: 37.5px;
      font-size: 2.5rem;
      line-height: 3.75rem; } }
  @media only screen and (max-width: 780px) {
    .headings.x-small {
      font-size: 20px;
      line-height: 30px;
      font-size: 2rem;
      line-height: 3rem; } }

.headings.small {
  color: #121212;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.09em; }
  @media only screen and (max-width: 1024px) {
    .headings.small {
      font-size: 25px;
      line-height: 37.5px;
      font-size: 2.5rem;
      line-height: 3.75rem; } }
  @media only screen and (max-width: 780px) {
    .headings.small {
      font-size: 20px;
      line-height: 30px;
      font-size: 2rem;
      line-height: 3rem; } }

.headings.medium {
  display: inline-block;
  text-decoration: none;
  color: #121212;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.009em; }
  .headings.medium:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #121212;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media only screen and (max-width: 1100px) {
      .headings.medium:after {
        display: none; } }
  .headings.medium:hover {
    color: #121212; }
    .headings.medium:hover:after {
      width: 100%; }
  @media only screen and (max-width: 1024px) {
    .headings.medium {
      font-size: 25px;
      line-height: 25px;
      font-size: 2.5rem;
      line-height: 2.5rem; } }
  @media only screen and (max-width: 780px) {
    .headings.medium {
      font-size: 24px;
      line-height: 36px;
      font-size: 2.4rem;
      line-height: 3.6rem; } }

.headings.big {
  text-align: center;
  color: #121212;
  text-align: center;
  letter-spacing: 0.01em; }
  @media only screen and (max-width: 1024px) {
    .headings.big {
      font-size: 30px;
      line-height: 45px;
      font-size: 3rem;
      line-height: 4.5rem; } }
  @media only screen and (max-width: 780px) {
    .headings.big {
      font-size: 24px;
      line-height: 36px;
      font-size: 2.4rem;
      line-height: 3.6rem; } }

.headings.x-big {
  color: #121212;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
  font-weight: 800;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 3px solid #121212; }
  @media only screen and (max-width: 1024px) {
    .headings.x-big {
      font-size: 30px;
      line-height: 45px;
      font-size: 3rem;
      line-height: 4.5rem; } }
  @media only screen and (max-width: 780px) {
    .headings.x-big {
      font-size: 24px;
      line-height: 36px;
      font-size: 2.4rem;
      line-height: 3.6rem; } }

.navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9000;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease; }
  @media only screen and (max-width: 1024px) {
    .navigation {
      position: relative; } }

.make-room {
  -moz-transform: translate3d(0, 65px, 0);
  -webkit-transform: translate3d(0, 65px, 0);
  transform: translate3d(0, 65px, 0); }
  @media only screen and (max-width: 780px) {
    .make-room {
      -moz-transform: translate3d(0, 60px, 0);
      -webkit-transform: translate3d(0, 60px, 0);
      transform: translate3d(0, 60px, 0); } }

/*
 * The primary navigation */
.navigation-menu {
  background-color: #ffffff; }
  @media only screen and (max-width: 1100px) {
    .navigation-menu {
      width: 100%; } }
  .navigation-menu .navigation-menu__logo {
    height: 100%;
    display: inline-block;
    padding: 2rem 3.4rem 1.8rem 0; }
    .navigation-menu .navigation-menu__logo img {
      width: 170px; }
    @media only screen and (max-width: 1100px) {
      .navigation-menu .navigation-menu__logo {
        margin-left: 4rem; } }

.navigation-menu__list {
  list-style-type: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
  vertical-align: top;
  text-align: center; }
  @media only screen and (max-width: 1100px) {
    .navigation-menu__list {
      position: static;
      display: none;
      padding: 12px 0;
      padding: 1.2rem 0;
      background-color: #ffffff; } }

/*Horizontal button creation*/
.navigation-menu__list li {
  display: inline-block;
  margin-right: 1px; }
  @media only screen and (max-width: 1100px) {
    .navigation-menu__list li {
      width: 100%; } }

/*Style for menu links*/
.navigation-menu__list li a {
  display: inline-block;
  padding: 24px 30px;
  padding: 2.4rem 3rem;
  font-size: 25px;
  line-height: 37.5px;
  font-size: 2.5rem;
  line-height: 3.75rem;
  text-align: center;
  color: #121212;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: inline-block;
  text-decoration: none; }
  @media only screen and (max-width: 1100px) {
    .navigation-menu__list li a {
      font-size: 18px;
      line-height: 27px;
      font-size: 1.8rem;
      line-height: 2.7rem;
      width: 100%;
      padding: 12px 0;
      padding: 1.2rem 0;
      height: auto;
      text-align: center; } }
  .navigation-menu__list li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: blue;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media only screen and (max-width: 1100px) {
      .navigation-menu__list li a:after {
        display: none; } }
  .navigation-menu__list li a:hover {
    color: blue; }
    .navigation-menu__list li a:hover:after {
      width: 100%; }

.navigation-menu__list .active {
  color: #222222;
  cursor: default; }
  .navigation-menu__list .active:hover::after {
    width: 0; }

/*Hide dropdown links until they are needed*/
.navigation-menu__list li ul {
  display: none; }

/*Make dropdown links vertical*/
.navigation-menu__list li ul li {
  display: block;
  float: none; }

/*Prevent text wrapping*/
.navigation-menu__list li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px; }

/*Display the dropdown on hover*/
.navigation-menu__list ul li a:hover + .hidden, .hidden:hover {
  display: block; }

/*Style 'show menu' label button and hide it by default*/
.navigation-menu__show {
  text-decoration: none;
  color: #121212;
  background: transparent;
  text-align: center;
  padding: 10px 0;
  display: none; }
  @media only screen and (max-width: 1100px) {
    .navigation-menu__show {
      display: block; } }

@media only screen and (max-width: 1100px) {
  .navigation-menu .navigation-menu__list {
    position: relative; } }

.navigation-menu__show {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 9010; }

.navigation-menu .btn-action {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.2rem 6rem 0 0; }
  @media only screen and (max-width: 480px) {
    .navigation-menu .btn-action {
      display: none; } }

.additional-navigation {
  position: fixed;
  background-color: white;
  top: 6.5em;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 50;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); }

.additional-navigation .wrapper {
  position: relative;
  top: -0.8em; }

.additional-navigation .fancy-select {
  top: 8px; }

.additional-navigation .fancy-select + .fancy-select {
  margin-left: 15px; }

/*
 * The sub navigation */
.sub-navigation-menu {
  background-color: #ffffff;
  border-top: 1px solid #d2d2cd;
  border-bottom: 1px solid #d2d2cd; }

.sub-navigation-menu .heading-tiny {
  margin: 0;
  padding: 1rem 0 0;
  display: none; }
  @media only screen and (max-width: 1100px) {
    .sub-navigation-menu .heading-tiny {
      display: block; } }

.sub-navigation-menu__list {
  white-space: nowrap;
  overflow-x: scroll; }
  @media only screen and (max-width: 780px) {
    .sub-navigation-menu__list:before, .sub-navigation-menu__list:after {
      font-size: 16px;
      line-height: 24px;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #dbdad7; }
    .sub-navigation-menu__list:before {
      content: '« ';
      margin-right: 20px;
      margin-right: 2rem; }
    .sub-navigation-menu__list:after {
      content: ' »';
      margin-left: 20px;
      margin-left: 2rem;
      margin-right: 1px;
      margin-right: .1rem; } }

.sub-navigation-menu__list::-webkit-scrollbar {
  display: none; }

.sub-navigation-menu__list li {
  display: inline-block; }

.sub-navigation-menu__list a {
  padding: 1.6rem 1rem;
  display: inline-block;
  color: #121212;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .sub-navigation-menu__list a:hover {
    color: blue; }
  @media only screen and (max-width: 1100px) {
    .sub-navigation-menu__list a {
      padding: 0 1rem 1.6rem; } }

.sub-navigation-menu__list li:first-child a {
  padding-left: 0; }

.sub-navigation-menu__list .active {
  color: #222222;
  cursor: default; }

.navigation-menu__show {
  position: absolute;
  left: 0;
  top: 2.2rem; }

.navigation-menu__show {
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

.navigation-menu__show span,
.navigation-menu__show span:before,
.navigation-menu__show span:after {
  cursor: pointer;
  height: 2px;
  width: 2rem;
  background-color: #121212;
  position: absolute;
  display: block;
  content: '';
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }

.navigation-menu__show:hover span,
.navigation-menu__show:hover span:before,
.navigation-menu__show:hover span:after {
  background-color: #121212; }

.navigation-menu__show span:before {
  top: 0.625rem; }

.navigation-menu__show span:after {
  bottom: 0.625rem; }

.navigation-menu__show span,
.navigation-menu__show span:before,
.navigation-menu__show span:after {
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

.navigation-menu__show.active span {
  background-color: transparent; }

.navigation-menu__show.active span:before,
.navigation-menu__show.active span:after {
  top: 0; }

.navigation-menu__show.active span:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.navigation-menu__show.active span:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.navigation .btn-tickets {
  position: absolute;
  right: 5%;
  top: 20%; }

@-moz-document url-prefix() {
  .appear {
    fill: #004B27 !important; } }
.brand,
.foundation {
  display: block;
  display: inline-block;
  text-align: center; }
  .brand .headings.medium,
  .foundation .headings.medium {
    margin: 15px 0 12px 0;
    margin: 1.5rem 0 1.2rem 0; }
  .brand:hover .headings.medium,
  .foundation:hover .headings.medium {
    color: #121212; }
    .brand:hover .headings.medium:after,
    .foundation:hover .headings.medium:after {
      width: 100%; }
  .brand svg,
  .foundation svg {
    width: 100%;
    margin: 0 0 40px 0;
    margin: 0 0 4rem 0; }
    @media only screen and (max-width: 1280px) {
      .brand svg,
      .foundation svg {
        margin: 0;
        margin: 0; } }

.brand {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 49%;
  position: absolute;
  top: 45%;
  left: 0;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  @media only screen and (max-width: 1024px) {
    .brand {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%;
      padding: 50px 0 40px 0;
      padding: 5rem 0 4rem 0;
      position: relative !important;
      -webkit-transform: none;
      /* Safari and Chrome */
      -moz-transform: none;
      /* Firefox */
      -ms-transform: none;
      /* IE 9 */
      -o-transform: none;
      /* Opera */
      transform: none; } }

.foundation {
  display: block;
  float: left;
  margin-left: 51%;
  margin-right: -100%;
  width: 49%;
  position: relative !important;
  position: absolute;
  top: 45%;
  left: 0;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  @media only screen and (max-width: 1024px) {
    .foundation {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%;
      -webkit-transform: none;
      /* Safari and Chrome */
      -moz-transform: none;
      /* Firefox */
      -ms-transform: none;
      /* IE 9 */
      -o-transform: none;
      /* Opera */
      transform: none;
      clear: both; } }
  @media only screen and (max-width: 780px) {
    .foundation {
      margin-bottom: 40px;
      margin-bottom: 4rem; } }

.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  opacity: 1;
  margin-top: 100px;
  margin-top: 10rem; }
  @media only screen and (max-width: 1280px) {
    .container {
      margin-top: 75px;
      margin-top: 7.5rem; } }
  @media only screen and (max-width: 780px) {
    .container {
      display: block;
      position: relative;
      max-height: 450px;
      top: 0;
      margin-top: 0; } }

.push {
  position: relative;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  opacity: 0; }
  @media only screen and (max-width: 1100px) {
    .push {
      -webkit-transform: none;
      /* Safari and Chrome */
      -moz-transform: none;
      /* Firefox */
      -ms-transform: none;
      /* IE 9 */
      -o-transform: none;
      /* Opera */
      transform: none; } }

.on {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 0; }
  @media only screen and (max-width: 1100px) {
    .on {
      -webkit-transform: none;
      /* Safari and Chrome */
      -moz-transform: none;
      /* Firefox */
      -ms-transform: none;
      /* IE 9 */
      -o-transform: none;
      /* Opera */
      transform: none; } }

.on--opacity {
  opacity: 1; }

.none {
  display: none; }

.generic_footer {
  clear: both; }

.container svg {
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  width: 42%;
  margin: 0 auto;
  display: block; }
  @media only screen and (max-width: 1280px) {
    .container svg {
      width: 35%; } }
  @media only screen and (max-width: 1100px) {
    .container svg {
      width: 90%; } }

.off--opacity {
  opacity: 0;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.rect rect {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
  -moz-animation-name: pulse;
  -moz-animation-duration: 2.5s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: none;
  -moz-animation-play-state: running;
  animation-name: pulse;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; }

.rect2 rect {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
  -moz-animation-name: pulse;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: none;
  -moz-animation-play-state: running;
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; }

.rect3 rect {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
  -moz-animation-name: pulse;
  -moz-animation-duration: 1.5s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: none;
  -moz-animation-play-state: running;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; }

.rect4 rect {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
  -moz-animation-name: pulse;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 1.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: none;
  -moz-animation-play-state: running;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; }

.rect5 rect {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
  -moz-animation-name: pulse;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: none;
  -moz-animation-play-state: running;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; }

.remove {
  -webkit-animation-name: remove;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
  -moz-animation-name: remove;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: none;
  -moz-animation-play-state: running;
  animation-name: remove;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; }

.appear {
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  -moz-animation-name: appear;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 2.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: forwards;
  -moz-animation-play-state: running;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running; }

@-webkit-keyframes pulse {
  0% {
    stroke: #ffffff; }
  100% {
    stroke: #004B27; } }
@-moz-keyframes pulse {
  0% {
    stroke: #ffffff; }
  100% {
    stroke: #004B27; } }
@-ms-keyframes pulse {
  0% {
    stroke: #ffffff; }
  100% {
    stroke: #004B27; } }
@keyframes pulse {
  0% {
    stroke: #ffffff; }
  100% {
    stroke: #004B27; } }
@-webkit-keyframes remove {
  0% {
    stroke: #004B27; }
  100% {
    stroke: #ffffff; } }
@-moz-keyframes remove {
  0% {
    stroke: #004B27; }
  100% {
    stroke: #ffffff; } }
@-ms-keyframes remove {
  0% {
    stroke: #004B27; }
  100% {
    stroke: #ffffff; } }
@keyframes remove {
  0% {
    stroke: #004B27; }
  100% {
    stroke: #ffffff; } }
@-webkit-keyframes appear {
  0% {
    fill: none; }
  100% {
    fill: #004B27; } }
@-moz-keyframes appear {
  0% {
    fill: none; }
  100% {
    fill: #004B27; } }
@-ms-keyframes appear {
  0% {
    fill: none; }
  100% {
    fill: #004B27; } }
@keyframes appear {
  0% {
    fill: none; }
  100% {
    fill: #004B27; } }
/*!
 * fullPage 2.7.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; }
  .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul li a,
    .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
        .fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover
        .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: #333;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0; }
    #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

/*
@media print {

    html,
    body {
        overflow: visible !important;
        height: auto !important;
    }

    .fullpage-wrapper {
        height: auto !important;
        transform: none !important;
        transition: none !important;
    }

    .fp-section {
        height: auto !important;
    }

    .fp-slidesContainer {
        width: auto !important;
        transition: none !important;
        transform: none !important;
    }

    .fp-slides,
    .fp-slides * {
        position: static !important;
    }

    .fp-slide {
        width: auto !important;
    }
}
*/
@media print {
  html.fp-enabled,
  .fp-enabled body {
    overflow: visible !important;
    height: auto !important; }

  html {
    background: #fff;
    width: auto;
    height: auto;
    overflow: visible; }

  body {
    background: #fff;
    font-size: 20pt;
    width: auto;
    height: auto;
    border: 0;
    margin: 0 5%;
    padding: 0;
    overflow: visible;
    float: none !important; }

  #fp-nav,
  .fp-slidesNav,
  .fp-controlArrow {
    display: none !important; }

  /* Need to reduce the size of the fonts for printing */
  h1 {
    font-size: 28pt !important; }

  h2 {
    font-size: 24pt !important; }

  h3 {
    font-size: 22pt !important; }

  h4 {
    font-size: 22pt !important;
    font-variant: small-caps; }

  h5 {
    font-size: 21pt !important; }

  h6 {
    font-size: 20pt !important;
    font-style: italic; }

  .fp-section,
  .fp-tableCell,
  .slimScrollDiv,
  .fp-scrollable {
    width: 100% !important;
    height: auto !important;
    display: block !important;
    position: relative;
    float: none !important; }

  .fp-slidesContainer {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

  .fp-slides,
  .fp-slidesContainer {
    height: auto !important;
    width: 100% !important;
    float: none !important;
    overflow: hidden !important; }

  .fp-slides {
    height: 800px !important;
    width: 800px !important; }

  .fp-slide {
    float: none !important;
    width: 100% !important;
    position: static !important; }

  .fullpage-wrapper {
    float: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
    left: 0 !important;
    top: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    zoom: 1 !important;
    overflow: visible !important;
    display: block !important;
    text-align: left !important; }

  .fp-section {
    page-break-after: always !important; }

  .fp-slide {
    page-break-after: always !important; } }
/* Style for our header texts
* --------------------------------------- */
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
  padding: 0; }

.intro p {
  color: #fff; }

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center; }

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  color: #f2f2f2; }

#header {
  top: 0px; }

.fixed {
  position: fixed;
  top: none !important;
  bottom: 0px !important;
  right: 0px !important;
  width: 35% !important;
  z-index: 9999999; }

.midnightHeader.default {
  font-size: 31px;
  line-height: 46.5px;
  font-size: 3.1rem;
  line-height: 4.65rem; }
  .midnightHeader.default a {
    background: none;
    padding: 0 1rem;
    cursor: pointer;
    display: inline-block;
    color: black;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .midnightHeader.default a:hover {
      color: blue; }

.midnightHeader.white {
  font-size: 31px;
  line-height: 46.5px;
  font-size: 3.1rem;
  line-height: 4.65rem; }
  .midnightHeader.white a {
    background: none;
    padding: 0 1rem;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 40px; }
    .midnightHeader.white a:hover {
      color: blue; }

/* Bottom menu
* --------------------------------------- */
#infoMenu {
  bottom: 80px; }

#infoMenu li a {
  color: #fff;
  z-index: 999; }

.fp-tableCell {
  position: relative !important; }

.fp-tableCell img {
  width: 100%; }
